---
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
    return [
        {params: {path: 'one/two/three' }},
        {params: {path: 'four' }},
        {params: {path: undefined }}
    ]
}

const { path } = Astro.params;
---
<Layout>
    <h1>Path: {path ?? "undefined"}</h1>
</Layout>