@mixin font-styles($size, $weight: 700, $line-height: 1, $margin-bottom: 1em) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  margin-bottom: $margin-bottom;
}

@mixin bg-acrylic($background) {
  background-color: rgba($background, .6);

  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

@mixin code-font() {
  font-family: monospace;
  font-size: 90%;
}

@mixin code-block-syntax($langs) {
  @each $lang in $langs {
    .lang-#{$lang} .#{$lang} pre {
      @content;
    }
  }
}