---
import "../styles/_global.scss"
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import { SITE_TITLE } from "../consts";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const baseHeadTitle = title ? `${title} - ${SITE_TITLE}` : SITE_TITLE;
---

<!DOCTYPE html>
<html lang="en" transition:animate="none">
	<!--suppress HtmlRequiredTitleElement, included in BaseHead -->
	<head>
		<BaseHead>
			<slot name="head" />
		</BaseHead>
	</head>
	
	<body class="flex-row-lg">
		<Sidebar />
		
		<main transition:animate="initial">
			<slot />
		</main>
	</body>
</html>

<style is:global />
