---
import "../styles/_global.scss"
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import { SITE_TITLE } from "../consts";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const baseHeadTitle = title ? `${title} - ${SITE_TITLE}` : SITE_TITLE;
---

<!DOCTYPE html>
<html lang="en">
	<!--suppress HtmlRequiredTitleElement, included in BaseHead -->
	<head>
		<BaseHead title={baseHeadTitle} description={description} />
	</head>
	
	<body class="flex-row-lg">
		<Sidebar />
		
		<main>
			<slot />
		</main>
	</body>

	<script
		async
		src="http://localhost:8088/moltenobsidian.js"
		crossorigin="anonymous"
		data-vault-uri="http://localhost:8089/moltenobsidian.manifest.json"
	/>
</html>

<style is:global />
