@page "/vault/{*VaultPath}"
@inject IVault Vault

@using Nodsoft.MoltenObsidian.Vault

<h3>VaultPage</h3>
@VaultPath

<hr />

<ObsidianVaultDisplay CurrentPath="@VaultPath">

</ObsidianVaultDisplay>


@code {

	[Parameter]
	public string VaultPath { get; set; }

	protected override async Task OnInitializedAsync() { }
}