@page "/vault"
@page "/vault/{*VaultPath}"
@inject IVault Vault

@using Nodsoft.MoltenObsidian.Vault

<h3>VaultPage</h3>
@VaultPath

<hr />

<ObsidianVaultDisplay Path="@VaultPath">
	@* <NotFound> *@
	@* 	<h3>No page was found in the vault.</h3> *@
	@* </NotFound> *@
</ObsidianVaultDisplay>


@code {

	[Parameter]
	public string VaultPath { get; set; }

	protected override async Task OnInitializedAsync() { }
}