header {
  margin: 0;
  padding: 0 1em;
  //background: white;
  box-shadow: 0 2px 8px rgba(var(--black), 5%);
}


//h2 a,
//h2 a.active {
//	text-decoration: none;
//}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & a {
    padding: 1rem 0.5rem;
    //color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    
    border-radius: 8px;
    color: white;
    opacity: 0.8;

    &.active {
      text-decoration: none;
      //border-bottom-color: var(--accent);
    }
  }
}

.navbar-brand {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.social-links {
  &, a {
    display: flex;
  }

  @media (max-width: 720px) {
    display: none;
  }
}