---
import "./Sidebar.astro.scss"
import NavLink from './NavLink.astro';
import { SITE_TITLE } from '../consts';
import VaultNavTree from "./vault/VaultNavTree.astro";
import { buildVaultTree } from "../vault-utils";
import manifest from '../assets/vault/moltenobsidian.manifest.json';
import { VaultManifestClient } from "moltenobsidian-ssg-client/manifest-client";
import { VaultManifest } from "moltenobsidian-ssg-client/vault-manifest";

export const manifestClient = VaultManifestClient.fromManifest(manifest as VaultManifest);


---

<aside>
	<h2 class="navbar-brand">
		<a href="/">{SITE_TITLE}</a>
	</h2>
	
	<nav>
		<VaultNavTree tree={buildVaultTree(manifestClient.routingTable)} />
	</nav>
</aside>