---
import "./Sidebar.astro.scss"
import NavLink from './NavLink.astro';
import { Image } from 'astro:assets';
import logo from '../../public/android-chrome-192x192.png'
import { SITE_TITLE } from '../consts';
import VaultNavTree from "./vault/VaultNavTree.astro";
import { buildVaultTree } from "../vault-utils";
import manifest from '../../public/vault/moltenobsidian.manifest.json';
import { VaultManifestClient } from "moltenobsidian-ssg-client/manifest-client";
import { VaultManifest } from "moltenobsidian-ssg-client/vault-manifest";

export const manifestClient = VaultManifestClient.fromManifest(manifest as VaultManifest);


---

<aside class="collapsed">
	<h2 class="navbar-brand">
		<Image src={logo} alt="MoltenObsidian Logo" />
		<a style="flex-grow: 1;" href="/">{SITE_TITLE}</a>
		<button class="sidebar-toggler" onclick="toggleSidebar">
			<span class="sidebar-toggler-icon"></span>
		</button>
		
	</h2>
	
	<nav>
		<VaultNavTree tree={buildVaultTree(manifestClient.routingTable)} />
	</nav>
	
	<footer>
		<hr style="opacity: 0.2; margin-bottom: 2rem;" />
		
		<div class="lead" style="display: flex; align-items: center; gap: 0.5rem">
			<b>MoltenObsidian</b>
			<span class="badge">SSG</span>
		</div>
		
		<small>
			That's right. Everything you read here is powered by MoltenObsidian SSG,
			using <a rel="external" target="_blank" href="https://astro.build">Astro</a>.
		</small>
		
		
		<nav>
			<ul>
				<li><a target="_blank" rel="external" href="https://github.com/Nodsoft/MoltenObsidian">GitHub</a></li>
			</ul>
		</nav>
		
		<small>
			© 2022-2023 Nodsoft Systems, MIT License
		</small>
	</footer>
</aside>

<script>
	// Sidebar toggler
	function toggleSidebar() {
		document.querySelector('aside').classList.toggle('collapsed');
	}
	
	// register button click handler
	document.querySelector('.sidebar-toggler').addEventListener('click', toggleSidebar);
</script>