@page "/vault/{*VaultPath}"
@inject IVault Vault

@using Nodsoft.MoltenObsidian.Vault
@using Nodsoft.MoltenObsidian.Blazor.Helpers
@using Nodsoft.MoltenObsidian.Converter

<h3>VaultPage</h3>
@VaultPath

<hr />

<ObsidianVaultDisplay Vault="Vault" BasePath="@this.GetCallingBaseVaultPath()" CurrentPath="@VaultPath" Options="@VaultDisplayOptions">

</ObsidianVaultDisplay>


@code {

	[Parameter]
	public string VaultPath { get; set; }

	public static ObsidianVaultDisplayOptions VaultDisplayOptions = new()
	{
		Converter = new(new ObsidianPipelineBuilder(true, true).Build())
	};

}