name: .NET Build & Test

permissions: 
  contents: read


on:
  push:
    paths-ignore: 
      - 'nodsoft_moltenobsidian_web/**'
      - 'nodsoft_moltenobsidian_ssg_client/**'
  pull_request:
  workflow_call:

jobs:
  build:
    strategy: 
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - uses: dotnet/nbgv@v0.4
        id: nbgv

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal