name: Publish release

permissions: 
  contents: write

on:
  # Push events to matching v*, i.e. v1.0, v20.15.10
    push:
      tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    
    # Actions pinned to commits to prevent supply-chain attacks.
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        
      - name: Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
